# STA 141B Lecture 9

The class website is <https://github.com/2019-winter-ucdavis-sta141b/notes>

### Announcements

### Topics

* Undocumented APIs
* XML and HTML
* Web Scraping

### Datasets

* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)
* [Wikipedia's List of Largest Cities](https://en.wikipedia.org/wiki/List_of_largest_cities)
* [CUESA's Vegetable Seasons Chart](https://cuesa.org/eat-seasonally/charts/vegetables)

### References

* [__requests__ documentation](http://docs.python-requests.org/en/master/)
* [__requests-html__ documentation](https://html.python-requests.org/)
* [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
* [XPath Diner](http://www.topswagcode.com/xpath/) -- an interactive XPath tutorial
* [CSS Diner](https://flukeout.github.io/) -- an interactive CSS Selector tutorial
* Python for Data Analysis, Ch. 6
* Python for Data Analysis, Ch. 7.3 (to review string processing)

[PDSH]: https://jakevdp.github.io/PythonDataScienceHandbook/
[ProGit]: https://git-scm.com/book/

## Getting Data from the Web

Revised list of ways you can get data from the web, from most to least convenient:

1. Direct download or "data dump"
2. Python or R package (there are packages for many popular web APIs)
3. Documented web API
4. Undocumented web API
5. Scraping

## Undocumented Web APIs

Many websites use undocumented web APIs to get data. For example:

* [University of California Compensation](https://ucannualwage.ucop.edu/wage/)
* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)

You can identify these websites by looking at requests in your browser's developer tools. In Firefox or Chrome, you can open the developer tools with `ctrl-shift-i`.

Requests to web APIs almost always return JSON or XML data. By examining the browser requests, you can work out the endpoints and parameters, allowing you to use the API.

**CAUTION:** Web APIs that are undocumented are often undocumented for a reason. Using an undocumented API may make someone angry or get you into legal trouble! Government and quasi-government websites (like the examples above) are probably okay, as long as you cache and rate-limit your requests. For everything else, find for an alternative or get permission first.

Let's reverse engineer the Yolo County Health Inspections web API so that we can get data about local restaurants.

In [1]:
import numpy as np
import pandas as pd
import requests
import requests_cache

requests_cache.install_cache("mycache")

In [3]:
def get_health_info(q):
    reqests.post("https://yoloeco.envisionconnect.com/api/pressAgentClient/searchFacilities", params=(
    "PressAgentOld": "c08cb189-894c-4c8c-b595-a5ef010226b4" 
    ), json={
        "FacilityName": q
    })
#response.raise_for_status()
#pushing data in the request; like an email attachment
#need to fix

SyntaxError: invalid syntax (<ipython-input-3-d968690da75a>, line 3)

We could reverse engineer other parts of the API to get detailed data about health violations.

## Web Scraping

### What makes a web page?

Web pages are written in _hypertext markup language_ (HTML). HTML files (`.htm` or `.html`) are plain text, just like JSON, Python scripts, and R scripts.

In HTML, we use _tags_ to create _elements_ of a web page. Elements add formatting and structure to the page.

* Tags usually come in pairs: an opening tag and a closing tag.
* Tags are written `<NAME>` for opening tags, `</NAME>` for closing tags, and `<NAME />` for singleton tags.
* Opening and singleton tags can have _attributes_ that contain additional information. Attributes are written `ATTRIBUTE=VALUE` after the tag name. 

See [here](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics) for a more detailed explanation, and [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element) for a list of valid HTML elements.

#### Examples

As an example:

```html
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
```
The `p` tag marks a paragraph, the `a` tag marks a link (an _anchor_), and the `strong` tag marks emphasized text.

Here's a string that contains HTML for a simple, complete website:

In [5]:
page = """
<html>
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! ðŸŒ®</p>
    <p>Visit <a href="https://pudding.cool/">The Pudding</a>.</p>
    <span>This is a span. It comes with an avocado. ðŸ¥‘</span>
</body>
</html>
"""

_Extensible markup language_ (XML) also uses tags to create elements. Can use tags for different data types. We say XML is _extensible_ because you can create your own XML elements (unlike HTML). People typically use XML to describe structure and meaning of data, rather than for formatting.

HTML is about formatting and XML is about data storage.

We'll use the same process to extract data from both HTML and XML. Usually you want to use JSON but sometimes you may want to use XML.

### Helper Packages

A _parser_ converts formatted data into familiar data structures. We've used __requests__' built-in JSON parser, but the package doesn't have a built-in HTML/XML parser. Fortunately, there are many other Python packages for parsing HTML/XML and web scraping.

HTML/XML Parsers:
* [lxml](https://lxml.de/): very fast! but doesn't deal as well with broken sites
* [html5lib](https://github.com/html5lib/html5lib-python)
* [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/): can handle broken webpages but slower
* [requests-html](https://html.python-requests.org/): can handle broken webpages but slower

Scraper Frameworks (_convenient after learning the basics with parsers_): automates a lot of stuff
* [scrapy](https://scrapy.org/)
* [newspaper3k](https://github.com/codelucas/newspaper)

Even more [here](https://github.com/lorien/awesome-web-scraping/blob/master/python.md#web-scraping-frameworks).

We'll use __lxml__ here, but you're welcome to use other packages on assignments and the project. To install __lxml__ for Anaconda, run `conda install -c anaconda lxml` in a shell.

In [6]:
import lxml.html as lx

html = lx.fromstring(page)#takes string and converts it into a parsed HTML structure
html

### Finding Elements

Elements are nested, so an HTML document is like a tree:
```
html
â”œâ”€â”€ head
â”‚   â””â”€â”€ title
â””â”€â”€ body
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”‚   â””â”€â”€ a
    â””â”€â”€ span
```
This is similar to the file system on your computer. The key difference is that elements at the same level can have the same tag name.

#### XPath

The _XML Path Language_ (XPath) lets us write paths to elements. XPath paths look a lot like file paths. XPath is not Python-specific!

The `.xpath()` method gets all elements at an XPath path:

In [7]:
html.xpath("/html/head/title")

Since there may be more than one element, the method always returns a list.

Absolute paths are not robust for scraping. An update to a web page that adds a single tag can break a scraper that uses absolute paths. In XPath, `//` means "anywhere below". We'll use `//` often because it's more robust:

In [8]:
html.xpath("/html/body/p")

[<Element p at 0x1f54615b188>,
 <Element p at 0x1f54615b1d8>,
 <Element p at 0x1f54615b228>]

In [10]:
html.xpath("/html/body//a")#all a tags in body

What if we just elements that satisfy a certain condition? In XPath, `[ ]` filters out elements that don't match a condition. For example:

In [11]:
html.xpath("//p[@id='best-paragraph']")

#### CSS Selectors

_Cascading Style Sheets_ (CSS) is another language for formatting elements in an HTML document. CSS provides another way to select elements, called _CSS selectors_.

CSS selectors are more concise but less flexible than XPath paths. The `.cssselect()` method gets all elements at a CSS selector:

[XPath Diner](http://www.topswagcode.com/xpath/) is an interactive tutorial that teaches most of the XPath syntax. It takes about 20-60 minutes. Work through it to become an XPath ninja!

In [12]:
html.cssselect("p")#need to import cssselect

ImportError: cssselect does not seem to be installed. See http://packages.python.org/cssselect/

### Extracting Text and Attributes

There are two ways to get text from an element:

* `.text` gives text inside the element, but not its children
* `.text_content()` gives text inside the element and its children, with all tags removed

In [15]:
p=html.xpath("//p[@id='best paragraph']")[0]

IndexError: list index out of range

We can get values from attributes on an element with `.attrib`, which is a dictionary:

### Example: Scraping Tables

For data in a `table` element, we can use __Pandas__ instead of writing a scraper.

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [the world's largest cities][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_largest_cities

In [18]:
result=pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_cities")
result[1]

,0,1,2,3,4,5
0,City,Nation,Image,Population,NaN,NaN
1,NaN,NaN,City proper,Metropolitan area,Urban area[7],NaN
2,Chongqing,China,NaN,"30,751,600[8]","17,000,000[9]","8,165,500[a]"
3,Shanghai,China,NaN,"24,256,800[11]","24,750,000[12]","23,416,000[b]"
4,Beijing,China,NaN,"21,516,000[13]","24,900,000[14]",21009000
5,Lagos,Nigeria,NaN,"16,060,303[c]","21,000,000[17]",13123000
6,Dhaka,Bangladesh,NaN,"14,399,000[18]","20,000,000[19]","19,580,000[20][21]"
7,Mumbai,India,NaN,"12,478,447[22]",12771200,"20,748,395[23]"
8,Chengdu,China,NaN,"16,044,700[24]","10,376,000[citation needed]","6,316,922[25]"
9,Karachi,Pakistan,NaN,"14,910,352[26][d]",NaN,NaN
10,Guangzhou,China,NaN,"14,043,500[30]","25,000,000[31]","20,800,654[32]"
11,Istanbul,Turkey,NaN,"14,025,000[33]",13520000,"14,657,000[33]"
12,Tokyo,Japan,NaN,"13,839,910[34]","38,140,000[35]","36,923,000[36]"
13,Tianjin,China,NaN,"12,784,000[citation needed]","15,469,500[citation needed]","6,859,779[37]"
14,Moscow,Russia,NaN,"12,197,596[38]",16170000,16800000
15,SÃ£o Paulo,Brazil,NaN,"12,038,175[39]",21090791,"36,842,102[40]"
16,Kinshasa,DR Congo,NaN,"11,855,000[41]",13265000,"1,038,195[25]"
17,Delhi,India,NaN,"11,034,555[42]","16,314,838[43]","21,753,486[23]"
18,Baoding,China,NaN,"11,194,372[44]",2176857,NaN
19,Lahore,Pakistan,NaN,"11,126,285[45]",13569000,"10,665,000[46]"
20,Cairo,Egypt,NaN,"10,230,350[47]",18290000,22439541
21,Seoul,"Korea, South",NaN,"10,197,604[48]",12700000,"25,520,000[49]"
22,Jakarta,Indonesia,NaN,"10,075,310[50]",30539000,"30,075,310[51]"
23,Wenzhou,China,NaN,"9,175,000[52]","9,122,102[52]",6642592
24,Lima,Peru,NaN,"9,174,855[53]",10750000,"9,886,647[54]"
25,Mexico City,Mexico,NaN,"8,974,724[55]","20,999,000[56]","21,178,959[57]"
26,London,United Kingdom,NaN,"8,825,001[58]",14040163,"9,787,426[59]"
27,Bangkok,Thailand,NaN,"8,750,600[60]","15,931,300[citation needed]","15,645,000[citation needed]"
28,Xi'an,China,NaN,"8,705,600[61]","13,569,700[62]","5,206,253[25]"
29,Chennai,India,NaN,"4,681,087[22]",NaN,"8,917,749[23]"
...,...,...,...,...,...,...
220,Ahvaz,Iran,NaN,1184788,1260817,NaN
221,Sofia,Bulgaria,NaN,1260120,1682340,1547472
222,Nizhny Novgorod,Russia,NaN,"1,250,619[201]",NaN,NaN
223,Abuja,Nigeria,NaN,1235880,"6,000,000[202]",2440000
224,Calgary,Canada,NaN,"1,235,171[203]",1214839,1095404
225,Saitama,Japan,NaN,"1,226,656[104][q]",NaN,NaN
226,Suwon,"Korea, South",NaN,1202310,NaN,NaN
227,Hiroshima,Japan,NaN,1196274,NaN,NaN
228,Rosario,Argentina,NaN,"1,193,605[204]","1,276,000[205]",NaN
229,Brisbane,Australia,NaN,"1,180,285[206]","2,360,241[207][208]",NaN
230,Allahabad,India,NaN,NaN,"1,117,094[citation needed]",NaN
231,Belgrade,Serbia,NaN,"1,166,763[209]","1,233,796[209]","1,659,440[209]"
232,Campinas,Brazil,NaN,"1,164,098[210]","3,094,181[210]",NaN
233,Ulsan,"Korea, South",NaN,"1,163,690[49]",NaN,NaN
234,Omsk,Russia,NaN,"1,154,116[201]",NaN,NaN
235,Dakar,Senegal,NaN,"1,146,053[211]","2,452,656[211]",NaN
236,Abu Dhabi,United Arab Emirates,NaN,"1,145,000[citation needed]",NaN,NaN
237,Monterrey,Mexico,NaN,"1,130,960[citation needed]",4520329,NaN
238,Tripoli,Libya,NaN,"1,126,000[citation needed]",2267000,2325000
239,Rostov-on-Don,Russia,NaN,"1,119,900[212]",NaN,NaN
240,T'bilisi,Georgia,NaN,"1,118,035[213]",1485293,NaN
241,Fez,Morocco,NaN,"1,112,072[214]",NaN,NaN
242,Birmingham,United Kingdom,NaN,"1,111,300[citation needed]",3683000,2440986
243,Yerevan,Armenia,NaN,"1,060,138[215]",NaN,NaN
244,Cologne,Germany,NaN,"1,057,327[216]",3573500,NaN
245,Tunis,Tunisia,NaN,"1,056,247[citation needed]",2643695,2294547
246,Bulawayo,Zimbabwe,NaN,"1,050,000[citation needed]",NaN,"1,200,000[217]"
247,Astana,Kazakhstan,NaN,"1,029,556[218]","1,200,000[219]",NaN
248,Islamabad,Pakistan,NaN,"1,014,825[220]",NaN,1829180
249,Cartagena,Colombia,NaN,"1,013,389[221]",1013389,1013389

### Writing Scrapers

When the data we want isn't in a `table` element, we have to write our own scraper.

The workflow for writing a scraper is the same regardless of the language you use:

1. Download pages with an HTTP request (usually `GET`)
2. Parse pages to extract text
3. Clean up extracted text with string methods or regex
4. Save cleaned results

### Example: CUESA Vegetable Seasons



CUESA (Center for Urban Education about Sustainable Agriculture) provides [a chart](https://cuesa.org/eat-seasonally/charts/vegetables) that shows when vegetables are in season. Let's scrape the chart.

In [19]:
result=pd.read_html("https://cuesa.org/eat-seasonally/charts/vegetables")

In [20]:
response=requests.get("https://cuesa.org/eat-seasonally/charts/vegetables")
response.raise_for_status()

html=lx.fromstring(response.text)
#thead is head; tbody; and trows
html

tab=html.xpath("//table")[0]

rows=tab.xpath(".//tr")
header=rows[1:]
header=rows[0]

[x.text for x in header.xpath(.//li)]

Can we generalize our scraper to the [chart](https://cuesa.org/eat-seasonally/charts/fruit) for fruit and nuts?